<div>
  <p style="text-align: center;">Witaj, {{ defaultUser.name }}!</p>
  <h2 style="text-align: center;">Zadania</h2>
  <p style="text-align: center;">Filtruj po statusie:
  <label style="text-align: center;"></label>
  <select [(ngModel)]="filterStatus" style="margin-bottom: 10px;">
    <option value="all">Wszystkie</option>
    <option value="todo">Todo</option>
    <option value="doing">Doing</option>
    <option value="done">Done</option>
  </select>
  </p>
  <ul>
    <li *ngFor="let task of getFilteredTasks()">
      <a href="#">{{ task.title }}</a> ({{ task.status }}) - {{ task.description }} <!-- Dodajemy wyświetlanie opisu zadania -->
      <button *ngIf="task.status !== 'todo'" (click)="updateTask(task, 'todo')">Todo</button>
      <button *ngIf="task.status !== 'doing'" (click)="updateTask(task, 'doing')">Doing</button>
      <button *ngIf="task.status !== 'done'" (click)="updateTask(task, 'done')">Done</button>
      <button (click)="deleteTask(task.id)">Usuń</button>
    </li>
  </ul>

  <h3 style="text-align: center;">Dodaj nowe zadanie:</h3>
  <form (submit)="addTask()" #taskForm="ngForm">
    <label style="text-align: center; font-size: large">
      Tytuł:
      <input type="text" name="title" [(ngModel)]="newTask.title" required>
    </label>
    <label style="text-align: center; font-size: large">
      Opis:
      <textarea name="description" [(ngModel)]="newTask.description" required></textarea>
    </label>
    <button type="submit">Dodaj zadanie</button>
  </form>
</div>
